<o-form-layout-manager attr="FoodStall" mode="tab" title="FOODSTALL">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="FoodStallTable" 
            service="FoodStall" 
            entity="FoodStall" 
            title="FOODSTALL"
            keys="id"
            columns="name;park_id;cuisine_type;id" 
            header-actions="R;D"
            visible-columns="name;park_id;cuisine_type;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="park_id" title="park_id">
    <o-table-cell-renderer-service attr="park_id" 
        service="AmusementPark" entity="AmusementParkType" columns="id;name"
        parent-keys="id:park_id"
        value-column="name" keys="park_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #cuisine_type attr="cuisine_type" title="cuisine_type" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>